/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end of reset
 ************ */

body {
    font-size: 18px;
    font-family:"Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", helvetica, sans-serif;
    background-color: #eeeeee;
}

.wrap {
    width: 100%;
}

.content h2, h3, h1 {
    margin-top: 35px;
    margin-bottom: 18px;
    padding: 5px;
}

.content {
    display:block;
    width: 72.5%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0 0 0;
    text-align: justify;
    position: relative;
    top: 45px;
}

.content p {
    margin-bottom: 10px;
}

.column {
    width:100%;
    float: left;
}


#donations-header {
    margin-top: 20px;
}

#donations {
    width: 200px;
    left: 50%;
    margin-left: -125px;
    margin-top: 25px;
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.donation-method {
    display: block;
    float: right;
    position: relative;
    width: 100px;
}

.content p, div {
    line-height: 1.15em; 
    width: 97%;
}

.content p, ul, h3 {
    margin-left: 5px;
}

.content li {
    padding: 3px;  
}

.content ul {
    padding-top: 5px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: grey;
}

#nav {
    font-weight: normal;
    height: 32px;
    padding-top: 6px;
    width: 85%;
    top:0;
    left: 8%;
    position: fixed;
    margin: 0;
    background-color: black;
    color: white;
    z-index: 2;
    border-bottom: 10px solid #eeeeee;
}

#nav a {
    display:block;
    width: auto;
    height: 15px;
    padding: 5px;
    margin: 0 0.3em 0 0;
    float: left;
    position: relative;
    color:white;
    font-size: 12px;

}


#nav a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.clear-float {
    clear: both;
}

#requirements-ul {
    list-style: square inside;
}

#downloads-header {
    margin-bottom:  5px;
}

.downloads li {
    float: left;
}


#news {
    line-height: 1.3;
}

#news dt {
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: justify;
}

#news dd {
    padding-left: 6px;
    padding-bottom: 9px;
    text-align: justify;
    margin-top: 8px;
}

#news li {
    margin-bottom: 3px;
    padding-bottom: 3px;
}

#screenshots {
    clear: both;
    margin-top: 30px;   
}

.note {
    font-weight: bolder;
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;

}

.footer {
    /* border: 1px solid red; */
    width: 325px;
    margin: 0 auto;
    margin-top: 80px; 
    display: block;
    margin-left: 38%;
    bottom: 20px;
    padding: 0 30px;
    position: relative;
    text-align: center;
}

.footer p {
    float: left;
    margin-right: 10px;
    position: relative;
}
